*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-image: url("../public/bg2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 720px;
  width: 100%;
  padding:auto ;
 
  font-size: 15px;
}

.head{
  height: 80px;
  padding-top: 18px;
  color: rgb(236, 125, 100);
}